body {
  color: white;
  text-align: left;
}
span {
  color: red;
}
h1 {
  color: white;
}
h2 {
  color: red;
}
.primary-paragraph {
  color: blue;
  text-align: left;
}
.title-of-page {
  border: 2px solid grey;
  margin-bottom: 5px;
  padding: 5px;
}
body {
  border: 5px solid grey;
  margin-bottom: 5px;
  padding: 5px;
  background-color: grey;
}
body {
  font-size: 20px;
}
h1 {
  font-size: 50px;
}
.price {
  color: red;
}
p {
  height: 25px;
  width: 200px;
  border: solid grey;
  background-color: white;
  text-align: left;
}
.added-title1 {
  height: 50px;
  width: 430px;
  border: solid grey;
  background-color: black;
  text-align: left;
}
.added-title2 {
  height: 40px;
  width: 220px;
  border: solid grey;
  background-color: black;
  text-align: left;
}
.vehicle-image {
  margin: auto;
}
